.login-bg {
    min-height: 100vh;
    background-image: url('src/assets/login-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    ;

}