.dark-table {
    :global {
        .ant-table {
            background: linear-gradient(180deg, #020b4d 0%, #020836 100%);
            color: #fff;
            border-radius: 6px !important;
            
        }
        .ant-table-container {
            border-radius: 6px !important;
            overflow: hidden;
            border: 1px solid rgba(0, 0, 0, 0.15);
        }

        .ant-table-thead>tr>th {
            background: #2a2f55;
            color: #fff;
            font-weight: 600;
            border-bottom: none;
            padding: 8px 12px;
            font-size: 17px;
            border: 1px solid rgba(0, 0, 0, 0.15);
        }
        
        .ant-table-thead>tr>th::before {
            display: none;
        }

        .ant-table-tbody>tr>td {
            background: transparent;
            color: #fff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.08);
            padding: 6px 12px; 
            font-size: 14px;
            line-height: 1.7;
            border: 1px solid rgba(0, 0, 0, 0.15);
        }

        .ant-table-tbody>tr:hover>td {
            background: rgba(255, 255, 255, 0.06) !important;
        }

        // .ant-table-cell {
        //     padding: 12px 16px;
            
        // }

        // .ant-table-row {
        //     height: 32px;
            
        // }

        /* Hàng lẻ */
        .ant-table-tbody>tr:nth-child(odd)>td {
            background: rgba(255, 255, 255, 0.06);
        }
        
        /* Hàng chẵn */
        .ant-table-tbody>tr:nth-child(even)>td {
            
            background: rgba(255, 255, 255, 0.02);
        }
        .ant-table-tbody>tr>td.yellow-cell {
            color: #facc15;
            font-weight: 600;
        }
    }
}

// Factory Card Styles
.factory-card {
    min-width: 336px;
    height: 92px;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .factory-card-title {
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 400;
        margin: 4px;
        align-items: center;
        display: flex;
        gap: 8px;
    }

    .factory-card-info {
        
        height: 53px;
        margin: 6px;

        .factory-card-label {
            height: 100%;
            font-family: "Roboto";
            font-size: 10px;
            font-weight: 300;
            font-style: italic;
            color: #FFFFFFD9;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2px;
        }

        .factory-card-value {
            height: 100%;
            font-family: "Roboto";
            font-size: 13px;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}