.dark-table {
    :global {
        .ant-table {
            background: linear-gradient(180deg, #020b4d 0%, #020836 100%);
            color: #fff;
            border-radius: 6px !important;
            
        }
        .ant-table-container {
            border-radius: 6px !important;
            overflow: hidden;
            border: 1px solid rgba(0, 0, 0, 0.15);
        }

        .ant-table-thead>tr>th {
            background: #2a2f55;
            color: #fff;
            font-weight: 600;
            border-bottom: none;
            padding: 8px 12px;
            font-size: 17px;
            border: 1px solid rgba(0, 0, 0, 0.15);
        }
        
        .ant-table-thead>tr>th::before {
            display: none;
        }

        .ant-table-tbody>tr>td {
            background: transparent;
            color: #fff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.08);
            padding: 6px 12px; 
            font-size: 14px;
            line-height: 1.7;
            border: 1px solid rgba(0, 0, 0, 0.15);
        }

        .ant-table-tbody>tr:hover>td {
            background: rgba(255, 255, 255, 0.06) !important;
        }

        // .ant-table-cell {
        //     padding: 12px 16px;
            
        // }

        // .ant-table-row {
        //     height: 32px;
            
        // }

        /* Hàng lẻ */
        .ant-table-tbody>tr:nth-child(odd)>td {
            background: rgba(255, 255, 255, 0.06);
        }
        
        /* Hàng chẵn */
        .ant-table-tbody>tr:nth-child(even)>td {
            
            background: rgba(255, 255, 255, 0.02);
        }
        .ant-table-tbody>tr>td.yellow-cell {
            color: #facc15;
            font-weight: 600;
        }
    }
}