.container {
    
    background-color: #030850;
    border-radius: 6px;
    color: #fff;
    height: 383px;
    overflow: hidden;
}
.mobile-container {
    height: 236px;
    background-color: #030850;
        border-radius: 6px;
        color: #fff;
        overflow: hidden;
}