.header {
    background-color: #0c1c34;
    color: #fff;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:global .ant-menu-item {
    padding-left: 10px !important;
    padding-right: 0 !important;
    padding-top: 4px !important;
}