.header {
    background-color: #0c1c34;
    color: #fff;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:global .ant-menu-item {
    padding-left: 10px !important;
    padding-right: 0 !important;
    padding-top: 4px !important;
}

// Mobile header
.mobile-header {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #343A40;
    .header-title {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        gap: 0;
        span:first-child {
            font-size: 12px;
            color: #C32026;
        }
        span:last-child {
            font-size: 10px;
            color: #8C8C8C;
            line-height: 0.6;
        }
    }
    .header-info {
        display: flex;
        align-items: center;
        line-height: 1.3;
        color: #fff;
    }
}